/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  background-color: #EEE;
}

md-card {
  background-color: white;
  margin: 10px;
}

.wilkosz-resume {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wilkosz-profile {
}
