<md-card class="wilkosz-profile">
  <md-card-title><i class="material-icons">person</i> Profile</md-card-title>
  <md-card-subtitle>Joshua Wilkosz</md-card-subtitle>
  <md-card-content>
    <p>I am a motivated software and robotics enthusiast with a drive for information, and
      developing technology that betters ourselves and environment.</p>
    <p>Email: joshua@wilkosz.com.au</p>
    <p>Mobile: +1 (424) 230-1675</p>
    <p>Github: <a href="https://github.com/jmwilkosz">Github.com/jmwilkosz</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/joshuawilkosz/">LinkedIn/jmwilkosz</a></p>
  </md-card-content>
</md-card>
