<md-card>
  <md-card-subtitle>Endeavours | Aviation Management Platform</md-card-subtitle>
  <md-card-title><i class="material-icons">airplanemode_active</i> Niugini Helicopters</md-card-title>
  <md-card-subtitle>Website: <a href="https://niuginihelicopters.asia">niuginihelicopters.asia</a> Github: <a href="https://github.com/jmwilkosz/Aviation">github.com/jmwilkosz/Aviation</a></md-card-subtitle>
  <md-card-content>

    <p>Everyone has their downtime endeavours and mine is a management and calendar platform for Niugini Helicopters PTY. LTD. The Management Platform utilizes many of the emerging technologies to deliver secure product for managing helicopters, resources, and most importantly time.</p>
  </md-card-content>
</md-card>
