<md-card>
  <md-card-subtitle>Software Engineering | Aviation Management Platform</md-card-subtitle>
  <md-card-title><i class="material-icons">airplanemode_active</i> Niugini Helicopters PTY. LTD.</md-card-title>
  <md-card-subtitle>Github: <a href="https://github.com/jmwilkosz/Aviation">github.com/jmwilkosz/Aviation</a></md-card-subtitle>
  <md-card-content>
    <p>Continuous feature development and integration of a central business platform, targeted at managing helicopters, resources, and most importantly time.</p>
  </md-card-content>
</md-card>
